//Ryan Stewart 10/08/2020
$polaroidwidth: 150px;
$polaroidheight: ($polaroidwidth * 1.23333) - 25px;
$polaroidheightactive: ($polaroidwidth * 1.23333);
$polaroidinnerheight: $polaroidheightactive;
$polaroidinnerheightactive: $polaroidheightactive * .83;
$color1: hsl(23, 90%, 74%);
$color2: #212529;
$polaroidhovertime: .2s;
$polaroidtimefunction: ease-out;

*
{
	box-sizing: content-box;
}

body
{
	background-color: $color1;
	color: $color2;
	font-family: 'Kalam', cursive;
	text-transform: uppercase;
}

#loadingscreen
{
	background-color: $color1;
	opacity: 1;
	z-index: 2;

	#content
	{
		h1
		{
			opacity: 0;
			transition: opacity .6s;
			font-size: 3em;
		}

		#underline
		{
			width: 0;
			transition: width .6s;
			height: 6px;
			background-color: $color2;
		}
	}
}

#text-container
{
	transition: opacity .15s;
	h1
	{
		font-size: 2.5em;
	}
}

.active
{
	pointer-events: auto !important;

	.overlay
	{
		opacity: 0;
	}

	.polaroid
	{
		height: $polaroidheightactive !important;
		box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .42) !important;

		.polaroid-inner
		{
			height: $polaroidinnerheightactive !important;

			.hovercontainer
			{
				opacity: 0;
			}
		}
	}

	&:hover
	{
		.polaroid
		{
			.polaroid-inner
			{
				.hovercontainer
				{
					opacity: 1;

					h1
					{
						opacity: 1 !important;
					}
				}
			}
		}
	}
}

#scrollercontainer
{
	height: 100vh;
	width: 100vw;
	opacity: 0;
	transition: opacity .6s;
	position: relative;

	.arrowcontainer
	{
		z-index: 1;

		img
		{
			width: 50px;

			&:hover
			{
				cursor: pointer;
			}
		}
	}

	#leftarrow
	{
		transform: rotate(-90deg);
	}

	#rightarrow
	{
		transform: rotate(90deg);
	}

	#scroller
	{
		a
		{
			pointer-events: none;
			color: inherit;
			left: 0;
			transition: left .3s $polaroidtimefunction;

			.overlay
			{
				background-color: rgba(0, 0, 0, .25);
				transition: opacity $polaroidhovertime $polaroidtimefunction;
			}

			.polaroid
			{
				width: $polaroidwidth;
				height: $polaroidheight;
				background-color: #f2f2f2;
				border-bottom: 6px solid rgb(212, 212, 212);
				box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .2);
				transition: height $polaroidhovertime $polaroidtimefunction, box-shadow $polaroidhovertime $polaroidtimefunction;

				.polaroid-inner
				{

					height: $polaroidinnerheight;
					transition: height $polaroidhovertime $polaroidtimefunction;

					.hovercontainer
					{
						background-color: rgba(0, 0, 0, .4);
						transition: opacity $polaroidhovertime $polaroidtimefunction;

						h1
						{
							opacity: 0;
							font-size: .8em;
							transition: opacity $polaroidhovertime $polaroidtimefunction;
						}
					}
				}
			}

			&:hover
			{
				text-decoration: none;
				color: inherit;
			}
		}
	}
}

@media (min-width: 576px) // 576px to 768px (sm) landscape phones
{
	#text-container
	{
		h1
		{
			font-size: 2em;
		}
	}
}

@media (min-width: 768px) // (md) tablets
{
	$polaroidwidth: 300px;
	$polaroidheight: ($polaroidwidth * 1.23333) - 25px;
	$polaroidheightactive: ($polaroidwidth * 1.23333);
	$polaroidinnerheight: $polaroidheight * .83;
	$polaroidinnerheightactive: $polaroidheightactive * .83;

	#loadingscreen
	{
		#content
		{
			h1
			{
				font-size: 4em;
			}
		}
	}

	.arrowcontainer
	{
		img
		{
			width: 65px !important;
		}
	}

	#text-container
	{
		h1
		{
			font-size: 3.5em;
		}
	}

	.polaroid
	{
		width: $polaroidwidth !important;
		height: $polaroidheight !important;

		.polaroid-inner
		{
			height: $polaroidinnerheight !important;
		}
	}

	.active
	{
		.polaroid
		{
			height: $polaroidheightactive !important;
			.polaroid-inner
			{
				height: $polaroidinnerheightactive !important;
			}
		}
	}
}

@media (min-width: 992px) // (lg) landscape tablets
{
}

@media (min-width: 1200px) // (xl) desktops
{
	$polaroidwidth: 250px;
	$polaroidheight: ($polaroidwidth * 1.23333) - 25px;
	$polaroidheightactive: ($polaroidwidth * 1.23333);
	$polaroidinnerheight: $polaroidheight * .83;
	$polaroidinnerheightactive: $polaroidheightactive * .83;

	#loadingscreen
	{
		#content
		{
			h1
			{
				font-size: 7em;
			}
		}
	}

	.arrowcontainer
	{
		img
		{
			width: 80px !important;
		}
	}

	.polaroid
	{
		width: $polaroidwidth !important;
		height: $polaroidheight !important;

		.polaroid-inner
		{
			height: $polaroidinnerheight !important;
		}
	}

	.active
	{
		.polaroid
		{
			height: $polaroidheightactive !important;
			.polaroid-inner
			{
				height: $polaroidinnerheightactive !important;
			}
		}
	}
}

@media (min-width: 2000px) // larger desktops
{
	$polaroidwidth: 350px;
	$polaroidheight: ($polaroidwidth * 1.23333) - 25px;
	$polaroidheightactive: ($polaroidwidth * 1.23333);
	$polaroidinnerheight: $polaroidheight * .83;
	$polaroidinnerheightactive: $polaroidheightactive * .83;

	#loadingscreen
	{
		#content
		{
			h1
			{
				font-size: 13em;
			}
		}
	}

	.polaroid
	{
		width: $polaroidwidth !important;
		height: $polaroidheight !important;

		.polaroid-inner
		{
			height: $polaroidinnerheight !important;
		}
	}

	#text-container
	{
		h1
		{
			font-size: 6em;
		}
	}

	.active
	{
		.polaroid
		{
			height: $polaroidheightactive !important;
			.polaroid-inner
			{
				height: $polaroidinnerheightactive !important;
			}
		}
	}
}
