$polaroidwidth: 300px;
$polaroidheight: ($polaroidwidth * 1.23333);

@keyframes fade
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: .7;
	}
}

body
{
	background-color: #91ecaa;
}

.landscape
{
	width: 100%;
}

.portrait
{
	height: 100%;
}






.vintage
{
	position: absolute;
	background-color: rgb(233, 238, 125);
	z-index: 2;
	background-blend-mode: multiply;
	opacity: .5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.polaroid
{
	width: $polaroidwidth;
	height: $polaroidheight;
	box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .17);
	transition: box-shadow .15s ease-in;

	.text-container
	{
		h1
		{
			font-family: 'Caveat', cursive;
			font-size: 2.3em;
		}
	}
}

.polaroid:hover
{
	box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .3);
}
